<app-navbar></app-navbar>
<section class="templateux-hero">
        <div class="container">
          <div class="row align-items-center justify-content-center intro">
            <div class="col-md-10" data-aos="fade-up">
              <h1>ข่าวสารใหม่ๆ</h1>
              <h2>{{firstname}}</h2>
              <i class="go-down js-smoothscroll"></i>
            </div>
          </div>
        </div>
      </section>


      
      <section class="templateux-portfolio-overlap" id="next" >
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-4 col-md-6" data-aos="fade-up" *ngFor="let item of dataResult">
                  <div *ngIf="item.status == 'allow'">
                      <a class="project animsition-link" href="work-single.html">
                      <figure>
                        <img src="{{item.image}}" alt="Free Template" class="img-fluid">  
                      </figure>
                      <div class="project-hover">
                        <div class="project-hover-inner">
                          <h2>{{item.caption}}</h2>
                          <span>{{item.describtion}}y</span>
                        </div>
                      </div>
                    </a>

                      <!-- <button class="btn btn-success" (click)="editNews(item._id)">Edit</button>
                      <button class="btn btn-danger" (click)="deleteData(item._id)">Delete</button> -->
                  </div>
                </div>
                
              </div>
              <!-- END row -->
            </div>
          </section>

                  
        <!-- Search -->
            <!-- <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #e3f2fd;">
                
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <form class="form-inline my-2 my-lg-0" #searchForm>
                        <input class="form-control mr-sm-2" [(ngModel)]="type" name="type" type="text" placeholder="ค้นหาข่าว">
                        <button class="btn btn-outline-success my-2 my-sm-0" (click)="findNews()">Search</button>
                    </form>
                </div>
            </nav> -->

            <!-- Content News Older-->
            <!-- <div class="card-group" *ngFor="let item of dataResult">
            <div class="card">
                <img src="{{item.image}}" alt="Card image cap" width="50%">
                <div class="card-body">
                    <h4 class="card-title">{{item.caption}}</h4>
                    <p class="card-text">{{item.describtion}}</p>
                    <p>{{item._id}}</p>
                    <button class="btn btn-success" (click)="editNews(item._id)">Edit</button>
                    <button class="btn btn-danger" (click)="deleteData(item._id)">Delete</button>
                </div>
            </div>
            </div> -->
                            
<app-footer></app-footer>







