<header class="templateux-navbar" data-aos="fade-down">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-3"><div class="site-logo"><a routerLink="/" class="animsition-link">ข่าวสาร</a></div></div>
        <div class="col-sm-9 col-9 text-right">

          <button class="hamburger hamburger--spin toggle-menu ml-auto js-toggle-menu" type="button">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>  

          <nav class="templateux-menu js-templateux-menu" role="navigation">
            <!-- All Menu -->
            <ul class="list-unstyled">
            <li class="d-md-none d-block active"><a routerLink="/" class="animsition-link">หน้าแรก</a></li>
           
              <!-- เมนูก่อนเข้าสู่ระบบ -->
              <div *ngIf="memberStatus == null || memberStatus == null">
                
                <li><a routerLink="/login" class="animsition-link">เข้าสู่ระบบ</a></li>
                <li><a routerLink="/register" class="animsition-link">สมัครสมาชิก</a></li>
              </div>
                
              <!-- เมนูหลังจากเข้าระบบ -->
              <div *ngIf="memberStatus == 'admin' || memberStatus == 'user'">
                <li><a routerLink="/adddata" class="animsition-link">เพิ่มข่าวสาร</a></li>
                <li class="animsition-link"><div *ngIf="memberStatus == 'admin'" ><a routerLink="/manage">จัดการข่าวสาร</a> </div> <div *ngIf="memberStatus == 'user'" ><a routerLink="/manageuser">จัดการข่าวสาร</a></div></li>
                <li class="animistion"><div *ngIf="memberStatus == 'admin'" ><a routerLink="/menageuser">จัดการสมาชิก</a></div></li>
                <li><a (click)="logout()" class="animsition-link">ออกจากระบบ</a></li>
              </div>

            </ul>
          </nav>  
        </div>
      </div>
    </div>
  </header>