<app-navbar></app-navbar>

<section class="templateux-hero">
  <div class="container">
    <div class="row align-items-center justify-content-center intro">
      <div class="col-md-10" data-aos="fade-up">
        <h1>จัดการข่าวสาร Admin</h1>
        <i class="go-down js-smoothscroll"></i>
      </div>
    </div>
  </div>
</section>

<!-- ตรางแสดงผลข้อมูลข่าวของตัวเอง -->
<div class="container" *ngIf="status != null">
    <table class="table">
        <thead>
            <tr style="text-align: center;">
                <th>หัวข้อ</th>
                <th>คำอธิบาย</th>
                <th>รูปภาพ</th>
                <th>สถานะ</th>
                <th>การอนุมัติ</th>
                <th>แก้ไข</th>
                <th>ลบ</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data" style="text-align: center;">
                <td scope="row">{{item.caption}}</td>
                <td>{{item.describtion}}</td>
                <td><img src="{{item.image}}" alt="" width="200px"></td>
                <td>
                    <div *ngIf="item.status == 'allow'">
                        <div class="alert alert-success">ผ่าน</div>
                    </div>
    
                    <div *ngIf="item.status == 'not'">
                        <div class="alert alert-warning">รอการอนุมัติ</div>
                    </div>

                    <div *ngIf="item.status == 'notallow'">
                            <div class="alert alert-danger">ไม่ผ่าน</div>
                    </div>
                </td>
                <td>
                  <div *ngIf="status == 'admin'">
                      <!-- Check Status Allow -->
                      <div *ngIf="item.status == 'allow'">
                        <button class="btn btn-danger" (click)="updateStatusNot(item._id)">ไม่ผ่าน</button>
                      </div>
                      <!-- Check Status Not -->
                      <div *ngIf="item.status == 'not' || item.status == 'notallow'">
                        <button class="btn btn-success" (click)="updateStatusNews(item._id)">ผ่าน</button>
                      </div>
                  </div>
                    
                </td>
                <td><button class="btn btn-success" (click)="editData(item._id)">แก้ไข</button></td>
                <td><button class="btn btn-danger" (click)="deleteNews(item._id)">ลบ</button></td>
            </tr>
        </tbody>
    </table>
</div>

<app-footer></app-footer>